.voters {
   font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
   border-collapse: collapse;
   width: 100%;
}

   .voters td, .voters th {
      border: 1px solid #ddd;
      padding: 2px;
   }

   .voters tr:nth-child(even) {
      background-color: #f2f2f2;
   }

   .voters tr:nth-child(odd) {
      background-color: white;
   }

   .voters tr:hover {
      background-color: #ddd;
   }

   .voters th {
      padding-top: 12px;
      padding-bottom: 12px;
      text-align: left;
      background-color: #4caf50;
      color: white;
   }
